<?xml version="1.0"?>
<launch>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find explorer_bot)/urdf/dolly.urdf.xacro"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find assessment_world)/worlds/assessment.world"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="paused" value="false"/>
        <arg name="verbose" value="true"/>
      </include>
      <node name="spawn1" pkg="gazebo_ros" type="spawn_model" args="-file $(find explorer_bot)models/small_sphere/model.sdf -sdf -model small_ball -x .5 -y -.5 -z 1" />
    
       <node name="spawn2" pkg="gazebo_ros" type="spawn_model" args="-file $(find explorer_bot)models/medium_sphere/model.sdf -sdf -model medium_ball -x -.5 -y -.5 -z 1" />
       
       <node name="spawn3" pkg="gazebo_ros" type="spawn_model" args="-file $(find explorer_bot)models/large_sphere/model.sdf -sdf -model large_ball -x -.5 -y .5 -z 1" />
       
       <node name="spawn4" pkg="gazebo_ros" type="spawn_model" args="-file $(find explorer_bot)models/wall_box/model.sdf -sdf -model right_wall -x 1 -y 2.1" />
       
       <node name="spawn5" pkg="gazebo_ros" type="spawn_model" args="-file $(find explorer_bot)models/wall_box/model.sdf -sdf -model left_wall -x 0 -y 2.1" />
       
       <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"  args="-param robot_description -urdf -model dolly -x 2 -y 0.5" />
       
       
       <node name="RSP" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
       <node name="JSP" pkg="joint_state_publisher" type="joint_state_publisher"/>
       <node name="Joint_tester" pkg="rviz" type="rviz" output="screen" args="-d $(find explorer_bot)/config/map.rviz"/>
       <node name="move" pkg="assessment_world" type="move_semi_random" />
       
       <node pkg="gmapping" type="slam_gmapping" name="maping_node">
           <param name="base_frame" value="base_footprint" />
           <param name="odom_frame" value="odom" />
           <param name="delta" value="0.1" />
        
    </node>
</launch>