<?xml version="1.0"?>
<launch>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find explorer_bot)/urdf/dolly.urdf.xacro"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find assessment_world)/worlds/assessment.world"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="paused" value="false"/>
    </include>
    
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"  args="-urdf -param robot_description -model dolly -x 2 -y 0.5" />
    
    <rosparam file="$(find explorer_bot)/config/control.yaml" command="load" />
    
    <node name="Joint_tester" pkg="rviz" type="rviz" output="screen" args="-d $(find explorer_bot)/config/Rviz_view.rviz"/>
    <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="robot_base_joint_publisher robot_base_velocity_controller"/>
    
    <node name="Rsp" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
    <node pkg="gmapping" type="slam_gmapping" name="maping_node">
        <param name="base_frame" value="base_footprint" />
        <param name="odom_frame" value="odom" />
        <param name="delta" value="0.1" />
    </node>
</launch>